{% extends 'base.html' %}
{% block conteudo %}
<body class="">
    <div class="p-3 mb-2 bg-black text-white">
        <form class="form" action="/cadastrarUsuario" method="POST">
            <p class="title">Cadastro </p>
            <p class="message"></p>
                <div class="flex">
                <label>
                    <input class="input" type="text" name="usuario" placeholder="" required="">
                    <span>Usuário:</span>
                </label>

                <label>
                    <input class="input" type="text" name="senha" placeholder="" required="">
                    <span>Senha:</span>
                </label>
            </div>

            <label>
                <input class="input" type="number" name="telefone" placeholder="" required="">
                <span>Telefone:</span>
            </label>

            <label>
                <input class="input" type="number" name="idade" placeholder="" required="">
                <span>Idade:</span>
            </label>
            <label>
                <input class="input" type="number" name="cep" placeholder="" required="">
                <span>CEP:</span>
            </label>
            <button class="submit">Criar</button>
            <p class="signin">Já tem uma conta ? <a href="/login">Entrar</a> </p>

            <a href="/crud">CRUD</a><br><br>

        </form>
    </div>
</body>
{% endblock %}