{% extends 'base.html' %}
{% block conteudo %}

            <br>

             <h1>Sociedade Esportiva Palmeiras</h1>


            <h2>História: </h2>


    A história do surgimento da Sociedade Esportiva Palmeiras remonta ao início do século XX, em São Paulo, Brasil. <br>
     O clube foi fundado em 26 de agosto de 1914 por um grupo de imigrantes italianos que residiam principalmente  <br>
     no bairro de Perdizes, na zona oeste da cidade. Este grupo de imigrantes italianos, liderado por Luigi Cervo, <br>
     Luigi Marzo, Vicenzo Ragognetti, Luigi Emanuele Marzo e Ezequiel Simone, tinha uma forte paixão pelo futebol e <br>
      decidiu formar um clube esportivo para representar sua comunidade. <br>

    Inicialmente, o clube foi nomeado Palestra Italia, refletindo a forte influência italiana dos fundadores e sua <br>
    conexão com a terra natal. O nome "Palestra" era uma referência aos ginásios esportivos da Grécia Antiga, onde  <br>
    os atletas competiam em diversas modalidades esportivas. "Italia" representava a origem italiana dos membros <br>
    fundadores.<br>
    <br>

    O Palestra Italia rapidamente começou a competir em competições locais e estaduais, ganhando destaque no cenário <br>
    esportivo de São Paulo. O clube foi adquirindo uma base de fãs cada vez maior, principalmente entre os imigrantes <br>
    italianos e seus descendentes, mas também entre outros segmentos da sociedade paulistana.<br>
    <br>

    No entanto, em 1942, devido à entrada do Brasil na Segunda Guerra Mundial e à pressão política para eliminar <br>
    quaisquer conexões com países inimigos, o clube teve que mudar seu nome. Foi então que surgiu o nome "Palmeiras",<br>
     que se tornou oficial em 1942, substituindo o antigo nome Palestra Italia.<br>
     <br>


    A mudança para o nome Palmeiras não apenas refletiu a necessidade de se adaptar ao contexto político da época, <br>
    mas também marcou uma nova fase na história do clube. Sob o nome de Palmeiras, o clube continuou a crescer e se <br>
    destacar no cenário esportivo brasileiro, acumulando uma impressionante coleção de títulos nacionais e internacionais <br>
    ao longo dos anos.<br>
    <br>

    Assim, a Sociedade Esportiva Palmeiras, desde seus humildes começos como Palestra Italia até se tornar uma potência <br>
    do futebol brasileiro como Palmeiras, possui uma história rica e fascinante, marcada por paixão, dedicação e <br>
    sucesso esportivo.<br>
    <br>
    Cores e Símbolos: As cores tradicionais do Palmeiras são o verde e o branco. Seu escudo apresenta a figura de um porco-espinho,<br>
    animal conhecido por sua determinação e proteção, com as iniciais SEP (Sociedade Esportiva Palmeiras) e a cruz de Savoia, que <br>
    remete às origens italianas do clube.<br>
    <br>
    Academia de Futebol: Na década de 1960, o Palmeiras ficou conhecido como a "Academia de Futebol", devido ao seu estilo de jogo <br>
    técnico e refinado, influenciado pelo técnico Oswaldo Brandão e pelos jogadores talentosos da época. Esse período é lembrado como <br>
    uma das eras de maior sucesso do clube.<br>
    <br>
    Grandes Rivais: Além das rivalidades regionais com clubes como Corinthians, São Paulo e Santos, o Palmeiras também possui uma <br>
    rivalidade histórica com a equipe argentina do Boca Juniors, resultante de confrontos memoráveis em competições continentais, <br>
    como a Libertadores da América.<br>
    <br>
    Participação Internacional: O Palmeiras conquistou importantes títulos internacionais, incluindo duas vezes a Copa Libertadores<br>
     da América (1999 e 2020), uma Copa Mercosul (1998) e uma Copa Rio (1951), esta última considerada pela FIFA como o primeiro <br>
     Campeonato Mundial Interclubes.<br>
     <br>
    Infraestrutura e Modernização: Nos últimos anos, o clube tem investido na modernização de sua estrutura, incluindo a construção <br>
    do Allianz Parque, um estádio de classe mundial, e a implementação de programas de treinamento de última geração para suas equipes<br>
     de base.<br>
     <br>
    Contribuições para o Futebol Brasileiro: O Palmeiras não apenas influenciou o futebol brasileiro através de suas conquistas e <br>
    estilo de jogo, mas também contribuiu para o desenvolvimento do esporte no país por meio de sua participação em iniciativas <br>
    sociais e programas de base.<br>
                </p>


        <h2>Elenco: </h2>
        <p>

        GOLEIROS:
        <br>
        <br>
        51
        KAIQUE
        <br>

        14
        MARCELO LOMBA
        <br>

        24
        MATEUS
        <br>

        21
        WEVERTON
        <br>
        <br>
        <br>

        ZAQUEIROS:
    <br>
    <br>
        15
        GUSTAVO GÓMEZ
        <br>

        13
        LUAN
        <br>

        26
        MURILO
        <br>

        34
        NAVES
        <br>
        <br>
        <br>
        LATERAIS-DIREITOS:
        <br>
        <br>
        32
        GARCIA

        <br>
        2
        MARCOS ROCHA
        <br>

        12
        MAYKE
        <br>
        <br>
        <br>

        LATERAIS-ESQUERDOS:
        <br>
        <br>
        <br>
        16
        CAIO PAULISTA
        <br>

        22
        JOAQUÍN PIQUEREZ
        <br>

        6
        VANDERLAN
        <br>
        <br>
        <br>
        MEIOS-CAMPISTAS:
        <br>
        <br>
        <br>
        5
        ANÍBAL MORENO
    <br>
        RÔMULO
        <br>

        35
        FABINHO
        <br>

        25
        GABRIEL MENINO
        <br>

        40
        JHON JHON
        <br>

        31
        LUIS GUILHERME
        <br>

        23
        RAPHAEL VEIGA
        <br>
        27
        RICHARD RÍOS
        <br>

        8
        ZÉ RAFAEL
        <br>
        <br>
        <br>
        ATACANTES:
        <br>
        <br>
        19
        BRENO LOPES
        <br>

        11
        BRUNO RODRIGUES
        <br>

        7
        DUDU
        <br>

        9
        ENDRICK
        <br>

        41
        ESTÊVÃO
        <br>

        17
        LÁZARO
        <br>

        42
        LÓPEZ
        <br>

        10
        RONY
        <br>
        </p>
            </ul>
        </nav>

        <h2>CURIOSIDADE: </h2>

        <P>
        Fundado em 1914, o Palmeiras é um dos clubes mais antigos e tradicionais do Brasil. <br>
        O Palmeiras é conhecido como "Verdão" devido à cor de seu uniforme principal, que é verde.<br>
        Seu estádio, o Allianz Parque, é um dos mais modernos e luxuosos do Brasil, inaugurado em 2014.<br>
        O Palmeiras possui uma das maiores torcidas do país e é reconhecido internacionalmente.<br>
        Em 1951, o Palmeiras conquistou a "Copa Rio Internacional", considerada por muitos como o primeiro campeonato mundial de clubes.<br>
        O clube já teve grandes craques em sua história, como Ademir da Guia, Marcos, Edmundo, entre outros.<br>
        O Palmeiras é conhecido por sua rivalidade com o Corinthians, um dos maiores clássicos do futebol brasileiro, conhecido como "Derby Paulista".<br>



        <h2>Títulos: </h2>

        Campeonato Brasileiro: 12 vezes (1972, 1973, 1993, 1994, 2016, 2018, 2019, 2020, 2022,2023,204).<br>
        Copa do Brasil: 4 vezes (1998, 2012, 2015, 2020).<br>
        Copa Libertadores da América: 2 vezes (1999, 2020,2021).<br>
        Copa Rio Internacional: 1 vez (1951) - precursora da Copa Libertadores.<br>
        Copa Mercosul: 1 vez (1998).<br>
        Torneio Rio-São Paulo: 5 vezes (1933, 1951, 1965, 1993, 2000).<br>
        Taça Brasil: 1 vez (1960) - precursora do Campeonato Brasileiro.<br>
        Supercopa Libertadores: 1 vez (1999).<br>
        Recopa Sul-Americana: 1 vez (2020).<br>
        Copa dos Campeões: 1 vez (2000).<br>
        Supercopa do Brasil: 1 vez(2023).<br>
        </P>
{% endblock %}




