{% extends 'base.html' %}
{% block conteudo %}

<br>

    <h1>Real Madrid</h1>

    <h2>História: </h2>
    <p>
        O Real Madrid foi fundado em 6 de março de 1902 como Madrid Football Club. Em 1920, o clube recebeu o título de "Real" (que significa "Real" em espanhol) do rei Alfonso XIII, passando a ser chamado de Real Madrid.<br><br>
        O clube é conhecido por contratar jogadores de destaque mundial, alcançando seu ápice durante a chamada "Era dos Galácticos" no início dos anos 2000, quando jogadores como Zinedine Zidane, Luís Figo, Ronaldo e David Beckham vestiram a camisa do clube.<br><br>
        Nos anos 2010, o Real Madrid venceu a Liga dos Campeões da UEFA quatro vezes em cinco anos (2014, 2016, 2017 e 2018). Este período foi marcado pela presença de jogadores como Cristiano Ronaldo, Sergio Ramos e Luka Modrić, além do técnico Zinedine Zidane.
    </p>

    <h2>Elenco Atual (2024): </h2>
    <p>
        <strong>Goleiros:</strong><br>
        Thibaut Courtois, Andriy Lunin<br><br>

        <strong>Defensores:</strong><br>
        Dani Carvajal, Éder Militão, David Alaba, Antonio Rüdiger, Ferland Mendy, Nacho Fernández<br><br>

        <strong>Meio-campistas:</strong><br>
        Luka Modrić, Toni Kroos, Eduardo Camavinga, Aurélien Tchouaméni, Federico Valverde<br><br>

        <strong>Atacantes:</strong><br>
        Vinícius Júnior, Rodrygo, Karim Benzema (até 2023), Joselu, Brahim Díaz
    </p>

    <h2>Principais Títulos: </h2>
    <p>
        <strong>Nacionais:</strong><br>
        La Liga: 35 títulos<br>
        Copa del Rey: 20 títulos<br>
        Supercopa da Espanha: 12 títulos<br><br>

        <strong>Internacionais:</strong><br>
        Liga dos Campeões da UEFA: 14 títulos<br>
        Liga Europa da UEFA: 2 títulos<br>
        Supercopa da UEFA: 5 títulos<br>
        Copa Intercontinental: 3 títulos<br>
        Mundial de Clubes da FIFA: 7 títulos
    </p>
{% endblock %}

