{% extends 'base.html' %}
{% block conteudo %}
      <br><br>
      <h2>Quem somos?</h2>
      <br>
      <h5>Bem-vindo à nossa loja de camisas de time, onde a paixão pelo futebol ganha vida!</h5><br>
      <p



      class="fst-italic">
        Na Fanáticos, nosso objetivo é proporcionar uma experiência única para todos os amantes do futebol, oferecendo uma ampla seleção de camisas de times de todo o mundo.
      Desde os grandes clubes até os mais obscuros, buscamos trazer a você a autenticidade e a qualidade que você merece. <br><br>

        Nossa história começou com a paixão pelo futebol e o desejo de compartilhar essa paixão com outros aficionados. O que começou como um sonho agora se tornou uma realidade,
      e estamos felizes em poder oferecer um espaço onde os fãs podem encontrar as camisas que tanto desejam, além de serviços de personalização para tornar cada peça ainda mais especial.

       A jornada até aqui foi marcada por momentos desafiadores e repletos de emoção. Desde os primeiros passos incertos até a concretização do nosso espaço, cada obstáculo foi enfrentado
      com determinação e cada vitória celebrada com humildade. Foi a nossa crença inabalável na beleza do futebol e na comunidade que ele cria que nos impulsionou adiante, mesmo nos momentos mais difíceis. <br><br>

        Na Fanáticos, não vendemos apenas camisas; criamos memórias. Nossa loja é um ponto de encontro para os apaixonados pelo esporte, um lugar onde histórias são compartilhadas,
      rivalidades são celebradas e amizades são formadas. Estamos orgulhosos de fazer parte desse universo tão rico e diversificado que é o mundo do futebol.
      Estamos comprometidos em oferecer o melhor atendimento ao cliente, garantindo que sua experiência de compra seja suave e satisfatória. Seja você um colecionador ávido, um torcedor
      dedicado ou alguém em busca do presente perfeito para um ente querido, estamos aqui para atender às suas necessidades com dedicação e profissionalismo. <br>
      Junte-se a nós na "Fanáticos" e descubra o prazer de vestir a sua paixão pelo futebol! <br>
      </p>
        <br><br><br>
        <h3>Sociedade Esportiva Palmeiras</h3>
               <img src="{{url_for('static',filename='imagens/logo palmeiras')}}" class="rounded mx-auto d-block" width="15%" alt="palmeiras">

        <br>
      <p
      class="fst-italic">
      A Sociedade Esportiva Palmeiras, um dos clubes mais tradicionais e bem-sucedidos do futebol brasileiro, foi fundada em 1914, originalmente sob o nome de Palestra Itália. Desde então, o clube tem sido uma parte
      integral da história do futebol no Brasil, deixando uma marca indelével tanto dentro como fora dos gramados. O Palmeiras mudou seu nome para Palmeiras em 1942, em um ato de patriotismo durante os tempos turbulentos
      da Segunda Guerra Mundial, adotando o verde que hoje simboliza não só a equipe, mas também a paixão ardente de seus torcedores. <br><br>

      O Palmeiras é uma potência no cenário futebolístico brasileiro, ostentando uma galeria impressionante de conquistas ao longo dos anos. Além de ter conquistado o Campeonato Brasileiro em diversas ocasiões, o clube
      também acumula uma extensa lista de títulos estaduais, demonstrando sua supremacia regional. No palco internacional, o Palmeiras brilhou intensamente, erguendo a cobiçada taça da Copa Libertadores da América em
      múltiplas ocasiões, solidificando seu status como um dos gigantes do continente. <br><br>

      O coração pulsante do Palmeiras reside no majestoso Allianz Parque, um templo do futebol que é reverenciado em toda a América do Sul. Este estádio moderno e imponente não só serve como lar para o clube, mas também
      como um ponto focal para a energia e a paixão de seus torcedores. Durante os jogos, o Allianz Parque se transforma em um caldeirão fervente de emoções, onde a torcida apaixonada do Palmeiras, conhecida como "Mancha Verde",
       cria uma atmosfera elétrica que impulsiona o time rumo à vitória. <br><br>

      A identidade do Palmeiras é forjada na resiliência e na determinação incansável de seus jogadores e torcedores. Ao longo dos anos, o clube enfrentou desafios e adversidades com coragem e determinação, emergindo mais forte
      a cada obstáculo superado. Essa capacidade de renovação e superação é uma característica distintiva do Palmeiras, que continua a escrever sua história de sucesso no cenário do futebol brasileiro e mundial.

        </p>
<br>
<br>
<br>

    <h3>Real Madrid Club de Fútbol</h3>
        <img src="{{url_for('static',filename='imagens/Real_Madrid.png')}}" class="rounded mx-auto d-block" width="15%" alt="Real Madrid">
    <br>

    <p class="fst-italic">
    O Real Madrid Club de Fútbol, um dos clubes mais icônicos e bem-sucedidos do futebol mundial, foi fundado em 1902. Desde a sua criação, o Real Madrid tem sido um símbolo de excelência no esporte, deixando uma marca indelével tanto dentro como fora dos gramados. O clube, conhecido por suas cores brancas, é frequentemente apelidado de "Los Blancos" e representa não apenas um time de futebol, mas também uma entidade cultural de grande importância na Espanha e no mundo. <br><br>
    O Real Madrid é uma potência no cenário futebolístico mundial, ostentando uma galeria impressionante de conquistas ao longo dos anos. Além de ter conquistado o Campeonato Espanhol, La Liga, em inúmeras ocasiões, o clube também acumula uma vasta coleção de títulos da Copa del Rey e outras competições nacionais, demonstrando sua supremacia no cenário espanhol. No palco internacional, o Real Madrid brilhou intensamente, erguendo a cobiçada taça da UEFA Champions League em múltiplas ocasiões, solidificando seu status como um dos gigantes do continente e do mundo. <br><br>

    O coração pulsante do Real Madrid reside no majestoso Santiago Bernabéu, um templo do futebol reverenciado por torcedores em todo o globo. Este estádio moderno e imponente não só serve como lar para o clube, mas também como um ponto focal para a energia e a paixão de seus torcedores. Durante os jogos, o Santiago Bernabéu se transforma em um caldeirão fervente de emoções, onde a torcida apaixonada do Real Madrid, conhecida como "Madridistas", cria uma atmosfera elétrica que impulsiona o time rumo à vitória. <br><br>

    A identidade do Real Madrid é forjada na resiliência e na determinação incansável de seus jogadores e torcedores. Ao longo dos anos, o clube enfrentou desafios e adversidades com coragem e determinação, emergindo mais forte a cada obstáculo superado. Essa capacidade de renovação e superação é uma característica distintiva do Real Madrid, que continua a escrever sua história de sucesso no cenário do futebol espanhol, europeu e mundial.

    </p>
<br>
<br>
<br>
    <h3>Club de Regatas Vasco da Gama</h3>
<img src="{{url_for('static',filename='imagens/Escudo_Vasco_2015.png')}}" class="rounded mx-auto d-block" width="15%" alt="Vasco da Gama">
<br>
<p class="fst-italic">
O Club de Regatas Vasco da Gama, um dos clubes mais tradicionais e respeitados do futebol brasileiro, foi fundado em 1898 por imigrantes portugueses no Rio de Janeiro. Originalmente criado como um clube de remo, o Vasco da Gama rapidamente se destacou no futebol, refletindo a paixão e a determinação de sua comunidade. O nome do clube homenageia o famoso explorador português Vasco da Gama, simbolizando a coragem e a aventura que marcam a trajetória do clube. <br><br>
O Vasco da Gama é uma potência no cenário futebolístico brasileiro, ostentando uma galeria impressionante de conquistas ao longo dos anos. Além de ter conquistado o Campeonato Brasileiro em diversas ocasiões, o clube também acumula uma extensa lista de títulos estaduais e outras competições nacionais, demonstrando sua supremacia regional e nacional. No palco internacional, o Vasco também brilhou intensamente, erguendo a cobiçada taça da Copa Libertadores da América em 1998 e outros títulos continentais, solidificando seu status como um dos gigantes do continente. <br><br>

O coração pulsante do Vasco da Gama reside em São Januário, um estádio histórico e emblemático que é reverenciado por torcedores em toda a América do Sul. Este estádio, que já foi o maior da América Latina, não só serve como lar para o clube, mas também como um ponto focal para a energia e a paixão de seus torcedores. Durante os jogos, São Januário se transforma em um caldeirão fervente de emoções, onde a torcida apaixonada do Vasco, conhecida como "Vascaínos", cria uma atmosfera elétrica que impulsiona o time rumo à vitória. <br><br>

A identidade do Vasco da Gama é forjada na resiliência e na determinação incansável de seus jogadores e torcedores. Ao longo dos anos, o clube enfrentou desafios e adversidades com coragem e determinação, emergindo mais forte a cada obstáculo superado. Essa capacidade de renovação e superação é uma característica distintiva do Vasco da Gama, que continua a escrever sua história de sucesso no cenário do futebol brasileiro e mundial.

</p>
{% endblock %}