{% extends 'base.html' %}
{% block conteudo %}

<br>

    <h1>Vasco da Gama</h1>

    <h2>História: </h2>
    <p>
        O Club de Regatas Vasco da Gama foi fundado em 21 de agosto de 1898, na cidade do Rio de Janeiro, inicialmente como um clube de remo. Seu nome é uma homenagem ao navegador português Vasco da Gama, em comemoração ao quarto centenário da chegada de Vasco da Gama às Índias.<br><br>
        Em 1915, o clube abriu seu departamento de futebol, e em 1923, conquistou seu primeiro título estadual. Durante a década de 1920, o Vasco da Gama se destacou por ser um dos primeiros clubes a aceitar jogadores negros e de origem humilde, promovendo a inclusão social através do esporte.<br><br>
        Ao longo dos anos, o Vasco consolidou-se como um dos clubes mais tradicionais e populares do Brasil, com uma rica história de conquistas e um legado de luta contra o racismo e a discriminação no futebol brasileiro.
    </p>

    <h2>Elenco Atual (2024): </h2>
    <p>
        <strong>Goleiros:</strong><br>
        Léo Jardim, Ivan, Halls<br><br>

        <strong>Defensores:</strong><br>
        Léo, Robson Bambu, Miranda, Capasso, Lucas Piton, Paulo Henrique<br><br>

        <strong>Meio-campistas:</strong><br>
        Jair, Andrey Santos, Praxedes, Galarza, Marlon Gomes<br><br>

        <strong>Atacantes:</strong><br>
        Pedro Raul, Alex Teixeira, Figueiredo, Erick Marcus, Lucas Figueiredo
    </p>

    <h2>Principais Títulos: </h2>
    <p>
        <strong>Nacionais:</strong><br>
        Campeonato Brasileiro: 4 vezes (1974, 1989, 1997, 2000)<br>
        Copa do Brasil: 1 vez (2011)<br>
        Campeonato Carioca: 24 vezes<br><br>

        <strong>Internacionais:</strong><br>
        Copa Libertadores da América: 1 vez (1998)<br>
        Copa Mercosul: 1 vez (2000)<br>
        Torneio de Paris: 1 vez (1957)<br><br>
    </p>
{% endblock %}

